/node_modules
/public/hot
/public/storage
/public/css/app.css
/public/css/app.css.map
/public/js/app.js
/public/js/app.js.map
/public/mix-manifest.json
/storage/*.key
/vendor
/.idea
/.vagrant
npm-debug.log
yarn-error.log
.env
.phpstorm.meta.php
_ide_helper.php
/resources/assets/js/vendor/locales.js
/tests/report
.php_cs.cache
*.bak